﻿@model List<AisEp.Database.Models.Consumer>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>


<input class="form-control" type="text" placeholder="Введите имеющиеся данные об потребителе" id="search-text" onkeyup="tableSearch()">

<table class="table table-striped" id="info-table">
    <tr>
        <th>Id</th>
        <th>Наименование</th>
        <th>Тип потребителя</th>
        <th>Номер договора</th>
        <th>Адрес</th>
        <th>Email</th>
        <th>Создать заявку</th>
    </tr>
    @foreach (var consumer in Model)
    {
        <tr>
            <td>
                @(consumer.Code)
            </td>
            <td>
                @(consumer.Name)
            </td>
            <td>
                @(consumer.ConsumerType)
            </td>
            <td>
                @(consumer.TreatyNumber)
            </td>
            <td>
                @(consumer.Address)
            </td>
            <td>
                @(consumer.Email)
            </td>
            <td>
                <a href="/search/CreateTask/@consumer.Id" title="Одобрить" type="button" class="btn btn-success">Создать
                </a>
            </td>
           
        </tr>
    }
</table>
<script>
    function tableSearch() {
        var phrase = document.getElementById('search-text');
        var table = document.getElementById('info-table');
        var regPhrase = new RegExp(phrase.value, 'i');
        var flag = false;
        for (var i = 1; i < table.rows.length; i++) {
            flag = false;
            for (var j = table.rows[i].cells.length - 1; j >= 0; j--) {
                flag = regPhrase.test(table.rows[i].cells[j].innerHTML);
                if (flag) break;
            }
            if (flag) {
                table.rows[i].style.display = "";
            } else {
                table.rows[i].style.display = "none";
            }
        }
    }
</script>